<a href="https://colab.research.google.com/github/AlexaMarieDonato/58013-LinearAlgebra/blob/main/Review_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [ ]:
if 5>2:
  print("Five is greater than two!")

Five is greater than two!

Python Comments

In [ ]:
#This is a comment
print("Hello world")

Hello world

Python Variable

In [ ]:
x = 1
a,b = 0,-1
a,b,c = 0, -1, 2
b = "Sally" #This is a type of string

Casting

In [ ]:
b = "sally" #this is a type of string
b = int(4)
print(b)

b = float(4)
print(b)

4
4.0

Type() Function

In [ ]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

False

"Double" quotes or 'Single' quotes

In [ ]:
y = "John"
y= 'John'

Case Sensitive

In [ ]:
a = 4
A = "Sally"
#A will not overwrite a

Multiple Variables

In [ ]:
x, y, z = "one","two","three"
print(x)
print(y)
print(z)

one
two
three

One value to Multiple Variables

In [ ]:
x = y = z = "four"
print(x)
print(y)
print(z)

four
four
four

Output variable

In [ ]:
x = "enjoying"
print("Python programming is " + x)

x = "Python is "
y = "enjoying"
z = x + y
print(z)

Python programming is enjoying
Python is enjoying

Arithmentic Operations

In [ ]:
x = 5
y = 3
print(x+y)

x = 5
y = 3
sum= x + y
print(sum)

8
8

Assigning operator

In [ ]:
a, b, c = 0,-1, 6
c%= 3
print(c)

0

Comparison and Logical Operators

In [ ]:
a, b ,c = 0, -1, 6
a>b and c>b

True

Identity Operator

In [ ]:
a, b ,c = 0, -1, 5
a is c

False

Bitwise Operators

In [ ]:
a, b ,c = 0, -1, 5
c << 1

10